@font-face {
    font-family:"Gilroy";
    font-style: normal;
    font-weight: 600;
    src: local("Gilroy");
         url:("/fonts/Gilroy-Semibold.woff") format("woff");
}

@font-face {
    font-family:"Gilroy";
    font-style: normal;
    font-weight: 700;
    src: local("Gilroy");
        url:("/font/Gilroy-Bold") format("woff")
}