body {
    font-family: "Gilroy", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #616161;
}

* {
    box-sizing: border-box;
}

h2, p {
    margin: 0;
}

/* header  */

.container{
    margin: 0 auto;
    width: 1480px;
}

.header-flex {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.title{
    max-width: 305px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 38px;
    font-weight: 700;
    margin-top: 8px;
    color: #3A3A3A;
}
/* end header  */

/* main-img */

.main-title-text{
    display: flex;
}

.left-img-flex {
    flex-basis: 46%;
}

.top-left-img {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 16px;
}

.bottom-left-img{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.center-img-flex {
    flex-basis: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-img-flex {
    flex-basis: 30%;
}

.top-right-img {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 16px;
}

.bottom-right-img {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* end main-img */